@import 'mixin';
@import 'variables';

@font-face {
  font-family: 'Avenir Medium';
  src: url('../fonts/AvenirLTStd-Medium-eot.eot');
  src: local('Avenir LT Std 65 Medium'), local('AvenirLTStd-Medium'),
  url('../fonts/AvenirLTStd-Medium-eot.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirLTStd-Medium-woff.woff') format('woff'),
  url('../fonts/AvenirLTStd-Medium-ttf.ttf') format('truetype'),
  url('../fonts/AvenirLTStd-Medium-svg.svg#AvenirLTStd-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Black';
  src: url('../fonts/AvenirLTStd-Black-eot.eot');
  src: local('Avenir LT Std 95 Black'), local('AvenirLTStd-Black'),
  url('../fonts/AvenirLTStd-Black-eot.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirLTStd-Black-woff.woff') format('woff'),
  url('../fonts/AvenirLTStd-Black-ttf.ttf') format('truetype'),
  url('../fonts/AvenirLTStd-Black-svg.svg#AvenirLTStd-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
/*
@font-face {
  font-family: 'Avenir Heavy';
  src: url('../fonts/AvenirLTStd-Heavy-eot.eot');
  src: local('Avenir LT Std 85 Heavy'), local('AvenirLTStd-Heavy'),
  url('../fonts/AvenirLTStd-Heavy-eot.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirLTStd-Heavy-woff.woff') format('woff'),
  url('../fonts/AvenirLTStd-Heavy-ttf.ttf') format('truetype'),
  url('../fonts/AvenirLTStd-Heavy-svg.svg#AvenirLTStd-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}
*/
body {
  font-family: "Avenir Medium";
  background:  #f2f4f5;
}

form {
  .label {
    display: block;
    font-size: #{$labelfs/$fs}em;
    line-height: (19em/$labelfs);
  }

  textarea,
  .text-box {
    font-size: #{$labelfs/$fs}em;
    border: solid (1em/$labelfs) #8cc8eb;
    box-sizing: border-box;

    padding: 0 1em;
    margin-top: (5em/$labelfs);
  }

  textarea {
    width: 100%;
    line-height: (16em/$labelfs);
    padding: .5em 1em;
    height: (82em/$labelfs);
  }

  .text-box {
    height: (28em/$labelfs);
    line-height: (28em/$labelfs);
  }
}

@import 'alerts';

.afterload {
  background: url(../images/logo-atyca.svg) no-repeat center center #336699;
  background-size:60% 40%;
  text-indent: -999em;
}

.alert-wrapper {
  position: fixed;
  top: .5em;
  left: .5em;
  right: .5em;
  z-index: 999;
}

[class*="button"] {
  font-size: #{$buttonfs/$fs}em;
  line-height: (33em/$buttonfs);
  height: (33em/$buttonfs);
  font-family: "Avenir Black";
  text-align: center;
  text-transform: uppercase;
  letter-spacing: (1em/$buttonfs);
  display: block;
}

.menu-container {
  .menu-item {
    float:left;
    margin-left:(19em/$fs);

    &:first-of-type {
      margin-left:0 ;
    }
  }

  .menu-link {
    $tfs: 14;
    font-size: (14em/$fs);
    border-radius:(8em/$tfs);
    display: table-cell;
    width: (98em/$tfs);
    height: (45em/$tfs);
    padding: 0 (10em/$tfs);
    text-align: center;
    vertical-align: middle;
    color:white;

    background-color: rgba(38, 86, 134, 0.1);
    transition: background-color .5s ease;
    will-change: transition;
  }

  .selected,
  .menu-link:hover {
    background-color: #265686;
  }
}

[class*="form"] {

  .form-title {
    $tfs: 24;
    font-size: #{$tfs/$fs}em;
    color:#265686;
    margin-bottom: (20em/$tfs);
    position: relative;

    .checkbox-user {
      position: absolute;
      right: 0;
      top:50%;
      transform: translateY(-50%);
      height: 22px;
    }

    input {
      margin-top: 0 !important;
    }
  }

  .text-box {
    width: 100%;
  }

  .form-item {
    margin-top: (10em/$fs);
    position: relative;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .form-action {
    margin-top: (25em/$fs);
  }

  .forgot-password {
    $tfs: 12;
    font-size: #{$tfs/$fs}em;
    line-height: (14em/$tfs);
    color: #a0b2b8;
    margin-top: (50em/$tfs);
  }

  .forgot-password-link {
    color:#4a90e2;
  }
}

.button-submit {
  float:left;
  width: (90em/$buttonfs);
  color:white;
  background: #8cc8eb;
  border:solid (1em/$buttonfs) #8cc8eb;
}

.button-register {
  float:right;
  width: (110em/$buttonfs);
  background: white;
  border: solid (1em/$buttonfs) #a0b2b8;
  color:#8cc8eb;
}

[class*="form-two-col"] {

  .text-box {
    margin: 0;
  }

  .form-item {
    display: flex;

    .form-colaside {
      flex: 1 1 0%;
      flex-basis: (90em/$labelfs);
      max-width: (90em/$labelfs);
      align-self:  center;
    }

    .form-colmain {
      flex: 1 1 0%;
    }
  }

  .form-action {
    display: flex;
    padding-left: (90em/$fs);
    justify-content: space-between;
    align-self:  center;

    .form-action-element {
      flex: 1 1 0%;
      flex-basis: (160em/$fs);
      max-width: (160em/$fs);
      align-self:  center
    }

    .form-delete-acount {
      color: #265686;
      text-align: right;
      flex-basis: (120em/$fs);
      max-width: (120em/$fs);
      text-decoration: underline;
    }
  }
  
}

#header {
  overflow: hidden;
  background: url(../images/blue-waves-background.png) no-repeat center center #1159a8;
  .logo {
    display: block;
    position: absolute;
    height: (111em/$fs);
    width: (152em/$fs);
    left: 0;
    background: url(../images/logo-atyca.svg) no-repeat center center;
    top:50%;
    margin-top: (55em/-16);
    text-indent: -9999em;

    &:before {
      $tfs: 11;
      content:"Operador Mayorista";
      position: absolute;
      font-size: #{$tfs/$fs}em;
      line-height: 1em;
      color:#8cc8eb;
      text-indent: 0;
      bottom: (11em/$tfs);
      left: (96em/$tfs);
      width: (110em/$tfs);
    }
  }
}

#footer-old {
  text-align: center;
  padding: (36em/$fs) 0 (20em/$fs) 0;
  color: white;
  background: #336699;

  .footer-title{
    $tfs: 12;
    font-size: #{$tfs/$fs}em;
    line-height: (16em/$tfs);
  }

  .footer-title,
  .footer-highlight {
    color:#8cc8eb;
  }

  p {
    $pfs: 10;
    font-size: #{$pfs/$fs}em;
    line-height: (16em/$pfs);
  }
}

#footer {
  margin-top: (36em/$fs);

  .footer {
    padding:(20em/$fs) 0;
    color: white;
    background: #336699;
  }


  .footer-title{
    $tfs: 12;
    font-size: #{$tfs/$fs}em;
    line-height: (16em/$tfs);
  }

  .footer-title,
  .footer-highlight {
    color:#8cc8eb;
  }

  p {
    $pfs: 10;
    font-size: #{$pfs/$fs}em;
    line-height: (16em/$pfs);
  }
}