@import 'mixin';
@import 'variables';

[class*="-main"] {
  width: (620em/$fs);
}

[class*="-aside"] {
  width: (300em/$fs);
}

[class*="-left"] {
  float:left;
  margin-right: (20em/$fs);
}

[class*="-right"] {
  float: right;
}

[class*="-center"] {
  margin: 0 auto;
}


.login-box {
  [class*="login-form"] {
    padding: (20em/$fs);
    box-sizing: padding-box;
  }
}

.tactic {
  padding: (25em/$fs) 0 (30em/$fs) 0;
  .tactic-item {
    float:left;
    width: (300em/$fs);
    margin-left: (20em/$fs);
    height: (169em/$fs);

    &:first-of-type {
      margin: 0;
    }
  }
}

.contact-info {
  font-size: #{$ci/$fs}em;
  position: absolute;
  right: 0;
  height:(20em/$ci);
  line-height:(20em/$ci);
  top:(30em/$ci);
}

.contact-info-item {
  margin-left: (13em/$ci);


  &:first-of-type{
    margin:0;
  }
}

.contact-info-link {

  &:after {
    line-height:(20em/$ci);
  }
}

.destinations {
  padding: 0 0 (64em/$fs) 0;
}

.destinations-list {
  .destinations-place {
    float:left;
    height: 0;
    position: relative;
    overflow: hidden;
  }
}

.entry {
  box-sizing: border-box;
  min-height: (349em/$fs);
}

.main-wrapper {
  position: relative;
  height: 100%;
}

#header {
  height: (140em/$fs);
}

#primary-navigation {
  position: absolute;
  right: 0;
  height: (45em/$fs);
  line-height: (45em/$fs);
  bottom:(22em/$fs);
}

#header,
.work-us,
#footer{
  position: relative;
  z-index: 5;
}

#header,
#footer {
  background: #336699;
}

.main-content {
  position: relative;
  padding-top: (30em/$fs);
  overflow: hidden;

  &:before {
    position: absolute;
    height: (918em/$fs);
    content:"";
    background: url(../images/big-bg.jpg) no-repeat center center;
    width: 100%;
    top:0;
  }
}