/* This is Hell on earth */
@import 'mixin';
@import 'variables';

@media screen and (min-width: (940em/16)) {
  .main-wrapper {
    width: (940em/16);
    margin: 0 auto;
  }
}

@media screen and (max-width: (939em/16)) {
  .main-wrapper {
    width: 100%;
    margin: 0 auto;
  }
}

//menu
@media screen and (max-width: (840em/16)) {
  #header {
    overflow: visible;
    .logo {
      left: (29em/$fs);
    }

    .main-icon {
      @include show();
    }

    .rwd-mobile {
      position: absolute;
      top:100%;
      width: 100%;
      overflow: hidden;
    }

    .contact-info,
    #primary-navigation{
      position: static;
      height: auto;
    }
  }

  .contact-info {
    background: #336699;
    padding: 0 (15em/$ci);

    .contact-info-item {
      float:none;
      margin: (8em/$ci) 0 0 0;

      &:first-of-type {
        margin-top: 0;
      }
    }

    .contact-info-link {
      padding-left: (25em/$ci);
    }
  }

  .menu-container {
    background: #265686;

    .menu-item {
      float:none;
      margin: (8em/$fs) 0 0 0;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }


}

@media screen and (max-width: (400em/16)) {
  [class*="-left"],
  [class*="-right"]{
    float:none;
    margin-right: 0;
    margin-left: 0;
  }

  [class*="-center"] {
    margin: 0 auto;
  }

  [class*="-main"],
  [class*="-aside"]{
    width: (620em/$fs);
  }

  [class*="-aside"] {
    width: auto;
    margin: 0 (10em/$fs);
  }

  .tactic {
    .main-wrapper {
      width: auto;
      margin: 0 (10em/$fs);
    }

    .tactic-item {
      float:none;
      margin: (10em/$fs) 0 0 0;

      &:first-of-type {
        margin: 0;
      }
    }
  }

  .work-us {
    @inclue hide();
  }
}
