@import 'mixin';
@import 'variables';

.country-selector {
  background: white no-repeat center center;
  border-radius: (5em/$fs);
  height: (353em/$fs);
  padding-top: (20em/$fs);
  box-sizing: border-box;

  .country-selector-title {
    text-align: center;
    font-weight: bold;
  }

  .button-submit {
    float:none;
    margin: 0 auto;
  }
}

.country-arg {
  background-image: url(../images/bg-arg.png);
}

.country-world {
  background-image: url(../images/bg-world.png);
  padding-left: (40em/$fs);
  padding-right: (40em/$fs);

}

.country-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;

  .country-list-item {
    width: (50em/$fs);
    height: (50em/$fs);
  }
}