@import 'mixin';
@import 'variables';

.button-logout {
  width: (68em/$buttonfs);
  color:white;
  background: #8cc8eb;
}

.contact-info {
  .contact-info-item {
    float:left;
  }

  .contact-info-item,
  .contact-info-link {
    color: #8cc8eb;
  }

  .contact-info-link {
    display: block;
    position: relative;

    &:after {
      display: block;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      content:"";
      position: absolute;
    }

    &:before {
      content:attr(data-before);
      color:white;
    }
  }

  $tfs: 14;

  .email {
    padding-left: (23em/$tfs);

    &:after {
      width: (19em/$tfs);
      height: (13em/$tfs);
      background: url(../images/email.png) no-repeat center center;
    }
  }
  .landphone {
    padding-left: (21em/$tfs);
    &:after {
      width: (17em/$tfs);
      height: (14em/$tfs);
      background: url(../images/phone.png) no-repeat center center;
    }
  }
  .mobile {
    padding-left: (14em/$tfs);
    &:after {
      width: (10em/$tfs);
      height: (16em/$tfs);
      background: url(../images/mobile.png) no-repeat center center;
    }
  }
}

.destination {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 (2em/$fs) (4em/$fs) 0 rgba(black, .2);
  padding: (15em/$fs) (20em/$fs);

  .destination-figure{
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: (156%/900*100);

    .destination-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }

  .destination-title {
    $tfs: 18;
    color:#265686;
    font-size: #{$tfs/$fs}em;
    line-height: (14em/$tfs);
    margin-top: (20em/$tfs);
    font-family: "Avenir Black";
  }

  .destination-content {
    $tfs: 16;
    font-size: #{$tfs/$fs}em;
    line-height: (19em/$tfs);
    color:#3c74ac;
    p {
      margin-top: (14em/$tfs);
    }

    .destination-subtitle {
      margin-top: (14em/$tfs);
      font-family: "Avenir Black";

      + p{
        margin:0;
      }
    }

    strong {
      font-family: "Avenir Black";
    }
  }
}

.destinations-list {
  .destinations-link {
    $pfs: 24;
    display: block;
    color:white;
    font-size: #{$pfs/$fs}em;
    //line-height: (52em/$pfs);
    text-align: center;
    position: absolute;
    text-shadow: (2em/$pfs) (2em/$pfs) (5em/$pfs) #000000;
    width: 100%;
    height: 100%;

    &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(black,.3));
      z-index: 1;
      left: 0;
    }
  }

  .destinations-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .destinations-text {
    position: absolute;
    width: 100%;
    z-index: 5;
    top:50%;
    transform: translateY(-50%);
    left: 0;
  }
}

.entry {
  background: white;
  padding: (25em/$fs) (20em/$fs);
  box-shadow: 0 (2em/$fs) (4em/$fs) 0 rgba(black, .2);

  .entry-title {
    $tfs: 18;
    color:#265686;
    text-transform: uppercase;
    font-size: #{$tfs/$fs}em;
    line-height: 1em;
  }

  .entry-content {
    $tfs: 14;
    margin-top: 1em;
    color: #3c74ac;
    font-size: #{$tfs/$fs}em;
    line-height: 1em;
    text-align: justify;
  }
}

.user-info-box {
  height: (272em/$fs);

  .button-logout {
    margin-top: (26em/$buttonfs);
  }

  .user-info-title {
    margin-bottom: (20em/$fs);
  }

  .user-info-link {
    color: #265686;
    font-size: (12em/$fs);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
  }
}

.deco-box {
  height: 0;
  padding-bottom: (219%/900*100);
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.info-box {
  position: relative;
  color: #3c74ac;

  a {
    color: #3c74ac;
  }

  p {
    $tfs: 12;
    font-size: #{$tfs/$fs}em;
    line-height: (14em/$tfs);
  }

  .button-logout {
    position: absolute;
    right: 0;
    top: 0;
    color:white;
  }

  .info-title {
    color:#265686;
  }

  .info-row {
    margin-top: 1em;

    &:first-of-type {
      margin: 0;
    }
  }
}

.login-box {

  > [class*="form"] {
    background: white;
    box-shadow: 0 (2em/$fs) (4em/$fs) 0 rgba(black, .2);
    position: relative;
  }

  [class*="-arrow"] {
    position: relative;

    &:before {
      content:"";
      position: absolute;
      bottom:(-10em/$fs);
      left: (3em/$fs);
      width: 0;
      height: 0;
      border: {
        style: solid;
        width: (10em/$fs) (8em/$fs) 0 (8em/$fs);
        color: rgba(white, 1) rgba(white, 0) rgba(white, 0) rgba(white, 0);
      }
    }
  }

  .operator {
    position: relative;
    font-family: "Avenir Medium";
    color: #336699;
    line-height: (22em/$fs);
    height: (22em/$fs);
    display: block;
    padding-left: (30em/$fs);
    margin-top:(15em/$fs);

    &:before {
      content:"";
      position: absolute;
      height: (22em/$fs);
      width: (20em/$fs);
      overflow: hidden;
      background: url(../images/operator.png) center center no-repeat;
      left:0;
      top: 0;
    }
  }

}

.tactic {
  .tactic-item {
    background: white;
    position: relative;
    border: solid (1em/$fs) #979797;
    box-sizing: border-box;
  }

  .Wallop-item {
    display: block;
    height: 100%;
  }
}

.tariff {
  .tariff-box {
    float:left;
    margin-left: (20em/$fs);
    width: (280em/$fs);

    &:first-of-type {
      margin: 0;
    }
  }

  .tariff-title-wrapper {
    height: 0;
    padding-bottom: (120%/280*100);
    position: relative;
    margin-bottom: (15em/$fs);
    display:block;

    &:after,
    &:before {
      position: absolute;
      content:"";
    }

    //triangle
    &:after {
      top:0;
      right: 0;
      border: {
        style: solid;
        width: 0 (20em/$fs) (20em/$fs) 0;
        color: rgba(white,0) rgba(white,1) rgba(white,0) rgba(white,0);
      }

      z-index: 2;
    }

    //gradient
    &:before {
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(black,.3));
      z-index: 1;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    .tariff-title {
      height: auto;
      top:50%;
      transform: translateY(-50%);
      color:white;
      z-index: 5;
      position: absolute;
      left: (57em/$fs);
      right: (57em/$fs);
      text-transform: uppercase;


      span {
        display: block;
        line-height: 1em;
      }

      .big {
        font-size: (30em/$fs);
      }
      .small {
        font-size: (20em/$fs);;
      }
    }
  }

  .tariff-link {
    margin-top: (10em/$fs);
    height: (43em/$fs);
    line-height: (43em/$fs);
    color:white;
    text-align: center;
    background: #4a90e2;
    display:block;

    &:first-of-type {
      margin:0;
    }
  }
}



.work-us {
  padding: (7em/$fs) 0;
  background:  #8cc8eb;

  .work-us-container {
    margin: (-7em/$fs) (-15em/$fs) 0 (-15em/$fs);
  }

  .work-us-item {
    margin: (7em/$fs) (15em/$fs) 0 (15em/$fs);
    float:left;
  }
}

.gob-medals{
  padding: (7em/$fs) 0;

  .gob-medals-container {
    margin: (-7em/$fs) (-15em/$fs) 0 (-15em/$fs);
    position: relative;
  }

  .gob-medals-item {
    margin: (7em/$fs) (15em/$fs) 0 (15em/$fs);
    float:left;
  }

  .qr-code,
  .qr-code-tur {
    position: absolute;
    top: (7em/$fs);
    margin: 0;
    width: (111em/$fs);
  }

  .qr-code {
    right: (15em/$fs);
  }

  .qr-code-tur {
    right: (141em/$fs);
  }
}

.contact-box {
  background: rgba(255, 255, 255, 0.8);
  padding: (23em/$fs) (200em/$fs) (43em/$fs) (200em/$fs);

  .contact-box-title {
    $tfs: 24;
    font-size: #{$tfs/$fs}em;
    color: #265686;
    line-height: (33em/$tfs);
    text-align: center;
    font-weight: bold;
  }

  .contact-box-list-item {
    $tfs: 14;
    font-size: #{$tfs/$fs}em;
    width: 50%;
    float:left;
    text-align: center;
    margin-top: (30em/$tfs);
  }

  .contact-box-contactname {
    font-weight: bold;
  }

  a {
    color:#4a90e2;
    text-decoration: underline;
  }

  label {
    @include hide();
  }

  .login-form {
    margin-top: (38em/$fs);
  }

  ::-webkit-input-placeholder {
    text-align: center;
  }

  :-moz-placeholder { /* Firefox 18- */
    text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
  }

  :-ms-input-placeholder {
    text-align: center;
  }

  .form-action {
    text-align: center;

    .button-submit {
      display: inline-block;
      float: none;
    }
  }

  .help-block {
    $tfs: 14;
    font-size: #{$tfs/$fs}em;
    color:#ff0007;
  }
}