/* This is Hell on earth */
@import '../mixin';
@import '../variables';

.main-wrapper {
  width: (940em/16);
  margin: 0 auto;
}

.destinations-list {
  .destinations-place {
    width: (300em/$fs);
    margin: (34em/$fs) 0 0 (20em/$fs);
    padding-bottom: (52%/940*100);

    &:nth-child(-n+3) {
      margin-top: 0;
    }

    &:nth-child(3n+1) {
      margin-left: 0;
    }
  }
}